TABLE TR TH{
COLOR:ORANGERED;
BACKGROUND:YELLOW;
BORDER:2 PX SOLID ORANGE;
TEXT-ALIGN:CENTER;
BORDER-RADIUS:4PX;
}
TABLE TR TD{
COLOR:GREEN;
BACKGROUND:CYAN;
BORDER:2PX SOLID GREEN;
TEXT-ALIGN:CENTER;
BORDER-RADIUS:4PX;
}

.x{font:20pt;color:RED;font:style:italic}