body{
background-image:linear-gradient(55deg,rgba(225,0,0,0.7),rgba(34,56,155,0.5));
}
span
{
text-align:center;
height:50px;
width:300px;
box-shadow:0 0 8px black;
border-radius:10px;
position:absolute;
background:rgba(255,75,150,1);
top:2%;
left:5%;

}

form{
margin-top:10px;
font-weight:bold;
color:white;
padding:0px;
}

form input[type=text]{
margin-bottom:15px;
border:0;
text-color:white;
box-shadow:0 0 8px rgba(0,0,0,0.8);
border-radius:50px;
padding:7px 40px;
outline:none;
background:white;
}